<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <h1>About</h1>
      <p>Tom's origin strory</p>
    </div>
  </div>
  <div class="row">
      <div class="col-3">
        <img src="../../assets/tom.jpeg" height="200" width="200">
      </div>
      <div class="col-9">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non velit asperiores quisquam et quidem consequuntur, neque illo ipsam dolor error! At cupiditate neque possimus iste voluptatem fugiat totam ipsa praesentium? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti quod veritatis modi dolorum. Possimus impedit illo nulla quidem vel provident ipsam rerum deserunt aperiam autem delectus dolores cupiditate, nam accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis sint impedit officiis tempora quidem. Cumque accusantium aliquam nihil debitis maxime, possimus tempore amet illum tenetur error corrupti neque rem aspernatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum mollitia maxime labore velit quod consequuntur magnam aut nostrum cumque, doloremque excepturi. Et voluptas sapiente illum, quidem laborum quia blanditiis natus!</p>
      </div>
    </div>
</div>
