<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <h1>About</h1>
      <p>Tom's origin strory</p>
    </div>
  </div>
  <div class="row">
      <div class="col-3">
        <img src="../../assets/tom.jpeg" height="200" width="200">
      </div>
      <div class="col-9">
        <p>Our story begins with a man. A man who was once a boy. Unlike the origin stories you may have heard, Thomas's tale doesn't emerge from genetic experiment or radioactive spider bite. The truth is, he simply just really loves flowers. Like, really really loves flowers. All of 'em. Different types,different sizes. No matter what. 
      </div>
    </div>
</div>
