<<section class="container saleBox">>
  <h1>Berries!</h1>
  <div class="panel">
      <img src="./Assets/6berries.jpg" class="berryBox" border="0" />
      <h2>Chocolate-dipped Berries</h2>
      <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
      <button>Order</button>
  </div>
  <div class="panel">
      <img src="./Assets/24berries.jpg" class="berryBox" border="0" />
      <h2>Two Dozen Berries</h2>
      <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
      <button>Order</button>
  </div>
  <div class="panel">
      <img src="./Assets/6berriesandcherries.jpg" class="berryBox" border="0" />
      <h2>Half a Dozen Strawberries &amp; Ten Cherries</h2>
      <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
      <button>Order</button>
  </div>
  <div class="panel">
      <img src="./Assets/cupcakes.jpg" class="berryBox" border="0" />
      <h2>Cupcakes</h2>
      <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
      <button>Order</button>
  </div>
  <div class="panel">
      <img src="./Assets/cheesecake.jpg" class="berryBox" border="0" />
      <h2>Cheesecake</h2>
      <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
      <button>Order</button>
  </div>
  <div class="panel">
      <img src="./Assets/footballBerries.jpg" class="berryBox"  border="0" />
      <h2>Themed Berries</h2>
      <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
      <button>Order</button>
  </div>
</section>