<section class="content-section text-center">
  <div class="saleBox">
    <h1>Flowers!</h1>
    <div class="row">
      <div class="panel col-md-3">
          <img src="./assets/red_flower.jpeg" class="berryBox" border="0" />
          <h2>Flower One</h2>
          <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
          <button>Order</button>
      </div>
      <div class="panel col-md-3">
          <img src="./assets/white_flower.jpeg" class="berryBox" border="0" />
          <h2>Flower Two</h2>
          <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
          <button>Order</button>
      </div>
      <div class="panel col-md-3">
          <img src="./assets/yellow_flower.jpeg" class="berryBox" border="0" />
          <h2>Flower Three</h2>
          <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
          <button>Order</button>
      </div>
    </div>

    <div class="row">
      <div class="panel col-md-3">
          <img src="./assets/puffy_white_flower.jpg" class="berryBox" border="0" />
          <h2>Flower Four</h2>
          <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
          <button>Order</button>
      </div>
      <div class="panel col-md-3">
          <img src="./assets/colorful_flower.jpg" class="berryBox" border="0" />
          <h2>Flower Five</h2>
          <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
          <button>Order</button>
      </div>
      <div class="panel col-md-3">
          <img src="./assets/violet_flower.jpeg" class="berryBox"  border="0" />
          <h2>Flower Six</h2>
          <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
          <button>Order</button>
      </div>
    </div>
  </div>
</section>