div.saleBox {
	background-color: rgba(0,0,0,0.2);
	/* margin: 0 0 2.0em 30.0em; */
	/* padding: 1.5em 0 2.0em 1.5em; */
	/* display: inline-block; */
	border-radius: 1em;
    border: rgba(0,0,0,0.1) solid 5px;
    align-items: center;
    margin-bottom: 6em;
}

div div.panel {
	float: left;
	position: relative;
	width: 400px;
	margin: 0 0.5em 2.0em 2.25em;
	padding: 1.0em;
	background-color: rgba(0,0,0,0.25);
	border: rgba(0, 0, 0, 0.5) solid 2px;
    border-radius: 0.6em;
    box-shadow: 2px 2px 2px 0px black;
}

div div.panel:hover {
	box-shadow: 2px 2px 2px 0px inset;
}

div div.panel img.berryBox {
	width: 100%;
}

div.row {
    margin-left: 5em;
}