<section class="content-section text-center">
  <div class="saleBox">
    <h1>Flowers!</h1>
    <div class="row">
      <div class="panel col-md-3">
          <img src="./Assets/6berries.jpg" class="berryBox" border="0" />
          <h2>Flower One</h2>
          <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
          <button>Order</button>
      </div>
      <div class="panel col-md-3">
          <img src="./Assets/24berries.jpg" class="berryBox" border="0" />
          <h2>Flower Two</h2>
          <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
          <button>Order</button>
      </div>
      <div class="panel col-md-3">
          <img src="./Assets/6berriesandcherries.jpg" class="berryBox" border="0" />
          <h2>Flower Three</h2>
          <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
          <button>Order</button>
      </div>
    </div>

    <div class="row">
      <div class="panel col-md-3">
          <img src="./Assets/cupcakes.jpg" class="berryBox" border="0" />
          <h2>Flower Four</h2>
          <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
          <button>Order</button>
      </div>
      <div class="panel col-md-3">
          <img src="./Assets/cheesecake.jpg" class="berryBox" border="0" />
          <h2>Flower Five</h2>
          <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
          <button>Order</button>
      </div>
      <div class="panel col-md-3">
          <img src="./Assets/footballBerries.jpg" class="berryBox"  border="0" />
          <h2>Flower Six</h2>
          <p>Sed vel arcu nisi. Sed bibendum, massa vitae rutrum varius.</p>
          <button>Order</button>
      </div>
    </div>
  </div>
</section>